html, body {
  margin: 0;
  height: 100%;
}

#app {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh;
}

/* Left side */
#ide {
  display: grid;
  grid-template-rows: 27px 1fr 175px;
}

/* Button Bar */
#buttonBar {
  display: flex;
  align-items: center;
  background: #0f1117;
}

button {
  background-color: #0f1117;
  color: #c792ea;
  border: 4px solid #c792ea;
  font-size: 16px;
  font-family: 'JetBrains Mono', 'Fira Code', 'Cascadia Code', monospace;
  cursor: pointer;
}

button:hover {
  background-color: #432f50;
}

button.active {
  background-color: #c792ea;
  color: #0f1117;
}

/* Monaco editor */
#editor {
  width: 100%;
  height: 100%;
}

/* Console */
#console {
  background: #111;
  color: rgb(255, 255, 255);
  font-family: monospace;
  padding: 15px;
  white-space: pre-wrap;
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 0;
}

/* Right side */
#canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
}